.Todo {
	&.completed {
		opacity: 0.5;
	}
}

.TodoList-toolbar {
	text-align: right;
	margin-bottom: 10px;
}

.Todo-headerBar {
	position: relative;
	.close {
		position: absolute;
		right: 10px;
	}
}

.Todo-title {
	font-size:18px;
	display: inline-block;
	margin: 0;
	font-weight:bold;
	.completed & {
		text-decoration: line-through;
	}
}

.Todo-text {
	.completed & {
		text-decoration: line-through;
	}
}

.Todo-textEditLabel {
	vertical-align: top;
}

.Todo-textarea {
	width: 88%;
}

.Todo-editButtonContainer {
	text-align: right;
	margin-top: 10px;
}

.TodoList-viewSelect {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	margin: 0 10px;
}

.TodoList-addButton {
	height: 29px;
	margin: -1px 0 0 0;
}

.TodoList-viewButtonLabel {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.TodoList-incompleteButton {
	line-height: 1;
	height: 29px;
	margin: 1px 10px 0 -1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.TodoList-allButton {
	line-height: 1;
	height: 29px;
	margin: 1px 0 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-is-active {
	background-color: #e6e6e6;
	border-color: #adadad;
}

.Todo-cancelButton {
	height: 30px;
	margin: 0 10px;
}

.Todo-promoteButton,
.Todo-demoteButton,
.Todo-completeButton,
.Todo-editButton {
	height: 30px;
	margin: -1px 0 0 10px;
}

.Todo-editButtonContainer {
	vertical-align: top;
}

