// breakpoints
$lrg_desktop:"min-width:1001px";
$desktop:"max-width: 1000px";
$tablet:"max-width: 800px";
$iphone5_LS:"max-width: 568px";
$iphone5_LS_up:"min-width:568px";
$iphone6_LS:"max-width: 667px";
$iphone6Plus_LS:"max-width: 736px";
$largeMobile:"max-width:640px";
$largeMobileUp: "min-width: 640px";
$smallMobile: "max-width: 480px";
$smallMobileUp: "min-width: 480px";
$smallMobile_PT: "max-width: 320px";
$smallMobile_PT_up: "min-width: 320px";
$smallMobile_LS_up: "min-width: 480px";

$icon-font-path: '../static/fonts/';